.item-table
    flex-grow: 2
    position: relative
    max-width: 700px
    
    table 
        width: 100%
        text-align: left
    .col-1
        width: 60%
    .col-2
        width: 30%
    .item-desc-panel
        width:95%;
        display: flex
        height: 50px
        line-height: 50px
        border: 1px solid #efefef
        box-sizing: border-box


        .logo-img img
            height: 40px;
            width: 40px;
            margin: 5px
        .close-icon
            margin-left: auto
            font-size: 1.25rem
            margin-right: 5px
            
    .quanity-panel
            display: flex
            .icon-btn
                border-radius: 50%
                height: 35px
                width: 35px
                margin: 5px
            .quanity-field
                line-height: 40px
                font-size: 1.3rem
                border: 1px solid #efefef
                width: 35px
                text-align: center
    
    .float-top
        position: absolute
        top: 25px
    .thead-seperator
        height: 60px