.header 
    
    .cart-button
        height: 35px
        border-radius: 5px
        font-size: 1.2rem
        float: right
        padding: 0px 8px
        margin: auto auto
        position: relative

        .badge
            top: 0
            right: 0
            height: 20px
            display: flex
            padding: 0 4px
            z-index: 1
            position: absolute
            flex-wrap: wrap
            font-size: 0.75rem
            min-width: 20px
            transform: scale(1) translate(50%, -50%)
            box-sizing: border-box
            border-radius: 10px
            flex-direction: row
            justify-content: center
            color: #fff
            background-color: #e10050
            align-items: center
            
    .title
        font-size: 1.6rem;