body
    font-family: Roboto
    font-size: 16px

    #root
        max-width: 1000px
        margin: 30px auto
        

    .text-secondary
        color: #191717b3

    .text-primary
        color: #000000

    .btn-contained
        background-color: #0099ff
        color: #fff
        border-radius: 2px
        border: 0
        box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
    
    .btn-contained:disabled 
        background-color: #efefef
        color: #000
    .btn-outlined
        background-color: #fff
        color: #0099ff
        border: 1px solid #0099ff
        border-radius: 2px
    
    .btn-outlined:hover
        background-color: #0099ff
        color: #fff

    .seperator
        width: 100%
        height: 1px
        border-top: 1px solid #efefef
        margin: 30px 0px

    .btn-icon-text 
        float: right;
        margin-left: 5px

    .text-decoration-none
         text-decoration: none

    .icon-text 
         padding-bottom: 3px
        vertical-align: middle

    .text-left
        text-align: left
    .text-right
        text-align: right
    .cursor-pointer
        cursor: pointer

    .not-found
        margin: auto

    .try-again
        display: flex
        justify-content: center
        font-size: 1.2rem
      

        